{% extends 'base.html' %}
{% block body %}
{% load static %}

<script src="https://code.jquery.com/jquery-git.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    .contra_head{
        background-color: transparent;
        height: 105px;
        box-shadow: none;
    }
    .contra_head .card-title{
        font-size: small;
    }
    .contra_head .card-text .row{
        width:100%;
    }
    .flex-column{
        width: 15%;
        background-color: rgba(0,0,0,0.2);
        height: 100%;
    }
    #voucherPop .list-group .list-group-item{
        background-color: transparent;
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    #voucherPop,#dpModal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    #voucherPop .modal-content{
        background-color: rgb(216, 232, 238);
        margin-top: 11%;
        margin-left: auto;
        width: 25%;
        height: 76%;
        border-radius: 0%;
        border: none;
    }
    #dpModal{
        background-color: rgba(0,0,0,0.4);
    }
    .list-group-item{
        color: black;
        cursor: pointer;
    }
    #rtype{
        line-height: 20px;
        padding: 0;
    }
    .notype{
        line-height: 0px;
    }
</style>

<script>
    function showVouchers(){
        document.getElementById('voucherPop').style.visibility= "visible";
        document.getElementById('voucherPop').style.display = "block";  
    }
    window.addEventListener('click',outsideClick)
    function outsideClick(event){
        if(event.target == document.getElementById('voucherPop')){
            document.getElementById('voucherPop').style.visibility = "hidden"
        }
    }
    function setVtype(name){
        document.getElementById('voucherPop').style.display = "none"
        document.getElementById('Vname').innerHTML = name
    }
    function showDp(){
        document.getElementById('dpModal').style.visibility= "visible";
        document.getElementById('dpModal').style.display = "block";  
    }
    window.addEventListener('click',outsideClick1)
    function outsideClick1(event){
        if(event.target == document.getElementById('dpModal')){
            document.getElementById('dpModal').style.display = "none"
        }
    }
    function setPeriod(){
        console.log('hi')
        var f = document.getElementById('fdate').value;
        var l = document.getElementById('ldate').value;
        let txt1 = 'For'
        let txt2 = 'to'
        document.getElementById('dperiod').innerHTML = txt1.bold() + ' ' + f + ' ' + txt2.bold() + ' ' + l
        document.getElementById('dpModal').style.display = "none"
    }
</script>

<div class="row container-fluid p-0 mx-0">
    <div class="col-sm-10 p-0" style="background-color:rgba(0,0,0,0.2);height: 100%;">
        <div  class="bg-info text-light">&nbsp; &nbsp;  Payment Register<span style="margin-left: 40%;">{{com.name}}</span></div>
        <div class="row container-fluid m-0 mt-4 w-100 p-0">
            <table class="table table-bordered p-0 m-0">
                <thead class="text-center">
                    <tr>
                        <th rowspan="3" class="text-left" style="vertical-align: middle;"><b>P a r t i c u l a r s</b></th>
                        <th colspan="2" id="rtype"><i id="Vname">Payment</i><br><b>{{com.name}}</b><br><span id="dperiod">For</span></th>
                    </tr>
                    <tr>
                        <th colspan="2" class="notype">Transactions</th>
                    </tr>
                    <tr>
                        <th class="notype">Total Vouchers</th>
                        <th class="notype">(Cancelled)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;">July</td>
                        <td class="w-25 m-0 p-0 text-center" colspan="2">{{ vcount }}</td>
                    </tr>
                    <tr>
                        <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;">August</td>
                        <td class="w-25 m-0 p-0 text-center" colspan="2">dfs</td>
                    </tr>
                    <tr>
                        <td class="w-75 m-0 p-0 pl-3">Grand Total</td>
                        <td class="w-25 m-0 p-0 text-center" colspan="2">0000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" id="voucherPop">
            <div class="modal-content">
                <div class="modal-header bg-info p-0 m-0 rounded-0">
                    <h6 class="modal-title ml-3">Monthly Voucher Type</h6>
                </div>
                <div class="modal-body">
                    <div class="text-right"><a href="{% url 'voucherSec' com.id %}" class="text-dark">Create</a></div>
                    <hr class="mt-0 border-dark">
                    <ul class="list-group">
                        {% for v in vou %}
                        <li class="list-group-item" onclick="setVtype('{{ v.voucher_type }}');">{{ v.voucher_type }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="dpModal">
        <div class="modal-content w-50 mx-auto" style="margin-top: 10%;">
            <div class="modal-body">
                <input type="date" id="fdate" class="form-control w-50 mx-auto my-4">
                <input type="date" id="ldate" class="form-control w-50 mx-auto my-4">
                <div class="col-sm-12 m-0 p-0 text-center">
                    <button onclick="setPeriod()" class="btn btn-info my-4 w-25">SET</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav flex-column ml-auto">
        <li class="nav-item text-left">
            <a class="nav-link" onclick="showDp()" style="cursor: pointer;">Period</a>
            <hr class="m-0">
        </li>
        <li class="nav-item text-left">
            <a href="" class="nav-link">Select</a>
            <hr class="m-0">
        </li>
        <li class="nav-item text-left">
            <a class="nav-link" onclick="showVouchers();" style="cursor: pointer;">Voucher Type</a>
            <hr class="m-0">
        </li>
    </nav>
</div>

{% endblock %}